[submodule "Iljimae/External Stuff/AppTrackrAPI-for-Obj-C"]
	path = Iljimae/External Stuff/AppTrackrAPI-for-Obj-C
	url = git@github.com:NinjaLikesCheez/AppTrackrAPI-for-Obj-C.git
[submodule "External Stuff"]
	path = External Stuff
	url = git@github.com:NinjaLikesCheez/AppTrackrAPI-for-Obj-C.git
[submodule "Iljimae/External Stuff/json-framework"]
	path = Iljimae/External Stuff/json-framework
	url = https://github.com/stig/json-framework.git
[submodule "Iljimae/External Stuff/MBProgressHUD"]
	path = Iljimae/External Stuff/MBProgressHUD
	url = https://github.com/matej/MBProgressHUD.git
